include mixin.pug
html  
    head
        meta(charset="utf-8")
        title 后台管理系统
        link(href="https://h5.m.taopiaopiao.com/app/movie/pages/index/favicon.ico" ref="shortcut icon" type="image/x-icon")
        +_link('home')
        block links
        block styles
    body
        div#app
        block doms
        +_script("js/common.min")
        +_script("home")
        block scripts