html  
    head
        meta(charset="utf-8")
        block common_head
        block style
        link(rel="shortcut icon" href="https://h5.m.taopiaopiao.com/app/movie/pages/index/favicon.ico" type="image/x-icon")
        block links
    body
        div#app
        block doms
        block scripts