mixin _link(href)
    link(href=`http://localhost:3000/css/${href}.min.css` rel="stylesheet" type="text/css")
mixin _script(src)
    script(src=`http://localhost:3000/${src}.js` type="text/javascript")
